.leftbox {
    float: left;
    position: relative;
    text-align: center;
}

.NextImage {
    background: none repeat scroll 0 0 #ffffff;
    display: block;
    height: 90px;
    position: relative;
    width: 90px;
	border: 1px solid #D6D3D6;
	margin: 5px; 
}
.back {
    float: left;	
}
